body{
  background-color: #282828;
  margin: 0;
}

#header{
  grid-area: header;
  background-color: black;
  height: 90px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#header p{
  color: red;
  font-size: 30px;
  margin-right: auto;
}
#header img{
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
  height: 60px;
  width: 60px;
  justify-content: flex-end;
}
#footer{
  grid-area: footer;
  background-color: black;
  font-size: 12px;
  height: 60px;
}
#footer p{
  display: inline;
  margin-left: 10px;
  vertical-align: -150%;
  color: white;
}
.banner{
  grid-area: banner;
  width: 100%; 
  height: auto; 
  max-width: 1440px;
  max-height: 400px;
  object-fit: cover;
}
.left{
  grid-area: left;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
.left-2{
  grid-area: left;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.left-2 h3{
  color: red;
  border-bottom: 3px solid red;
} 
.left-2 p{
  color: white;
  font-size: 18px;
}
.mid{
  grid-area: mid;
  display: flex;
  flex-direction: column;
}
.mid p{
  color: white;
  font-size: 24;
}
.right{
  grid-area: right;
  display: flex;
  flex-direction: column;
}
.right p{
  color: white;
  font-size: 18px;
  padding: 10px;
}
.right p b{
  color: red;
}
.right img{
  width: auto;
  max-width: 340px;
  max-height: 400px;
}




.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'banner banner banner banner right'
    'left   left   mid    mid    right'
    'left   left   mid    mid    right'
    'left   left   mid    mid    right'
    'left   left   mid    mid    right'
    'footer footer footer footer footer';
  gap: 10px;
  background-color: #282828;
}
.grid-item{
  background-color: #393939;
  text-align: center;
  font-size: 30px;
}